{% extends "main/base.html" %}
{% block content %}
<div class="text-center">
    <a target="_blank" class="fs-2 rounded-5 fw-bold text-wrap badge bg-primary mb-1 text-decoration-none" href="http://redmine.rcvn.work/issues/{{task.id}}">Task #{{task.id}}</a>
    <br>
    <a target="_blank"  class="fs-4 rounded-5 fw-bold text-wrap badge bg-primary mb-3 text-decoration-none" href="http://redmine.rcvn.work/issues/{{task.id}}">Task #{{task.id}}>{{task.task_title}}</a>
</div>

<div class="progress mb-1 " style="height: 30px;">
    <div class="progress-bar bg-primary progress-bar-striped" role="progressbar" style="width: {{task.done_ratio}}%;" >{{task.done_ratio}}</div>
</div>

<div class="row">
    <div class="col-md-8  bg bg-primary p-2" style="--bs-bg-opacity: .5;">
        <p class="m-1 fs-6 badge bg-secondary">Description</p> 
        <div class="m-1 p-1  btn btn-outline-dark text-break">{{task.description}}</div>
        <div class="row mb-3">
            <div class="col-md-6">
                <span class="m-1 p-2 fs-6 badge bg-secondary">Project</span>
                <span class="m-1" ><a href="/top?project={{task.project.id}}" class="btn-sm btn btn-outline-dark"> {{task.project.project}} </a></span>
            </div>
            <div class="col-md-6 ">
                <span class="m-1 p-2 fs-6 badge bg-secondary">Category</span>
                <span class="m-1" ><a href="/top?" class="btn-sm btn btn-outline-dark"> {{task.category.category}} </a></span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 ">
                <p class="  fs-6 badge bg-secondary">Parent Task</p> 
            </div>
            <div class="col-md-7">
                <span class="m-1" ><a href="/top/{{parent_task.id}}" class="btn-sm btn btn-outline-dark {% if parent_task.done_ratio < 100 %} btn-danger {%endif%}"> {{parent_task.task_title}} </a></span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 ">
                <div class="m-1 fs-6 badge bg-secondary">Child Tasks</div> 
            </div>
            <div class="col-md-7">
            {% for child in child_task%}
                <div class="row">
                    <span class="m-1" ><a href="/top/{{child.id}}" class="btn-sm btn btn-outline-dark {% if child.done_ratio < 100 %} btn-danger {%endif%}">{{child.task_title}}</a></span>
                </div>
            {% endfor %}
            </div>
        </div>

    </div>
    <div class="col-md-4 bg bg-primary p-2" style="--bs-bg-opacity: .3;">
        <div class="row ">
            <div class="row" >
                <div class="col-md-5" ><p class="fs-6 badge bg-secondary">Assignee</p></div>
                <div class="col-md-5" ><a href="/top?person={{task.person_in_charge.id}}" class="btn-sm btn btn-outline-dark"> {{task.person_in_charge.name}} </a></div>
            </div>
            <div class="row" >
                <div class="col-md-5" ><p class="fs-6 badge bg-secondary">Spent time</p></div>
                <div class="col-md-3" ><a href="#" class="btn-sm btn {%if task.spent_time > task.estimate_time%}btn-danger{%else%} btn-outline-dark {%endif%}"> {{task.spent_time}} </a></div>
            </div>
            <div class="row" >
                <div class="col-md-5" ><p class="fs-6 badge bg-secondary">Estimate time</p></div>
                <div class="col-md-3" ><a href="#" class="btn-sm btn btn-outline-dark"> {{task.estimate_time}} </a></div>
            </div>
            <div class="row" >
                <div class="col-md-5"><p class="fs-6 badge bg-secondary">Status </p></div>
                <div class="col-md-7" ><a href="#" class="btn btn-outline-dark"> {{task.status.status}} </a></div>
            </div>
            <div class="col-md-12"><p class="fs-6 badge bg-secondary">Created Date</p> {{task.created_date|date:'d-m-Y'}}</div>
            <div class="col-md-12"><p class="fs-6 badge bg-secondary">Updated Date</p> {{task.updated_date|date:'d-m-Y'}}</div>
        </div>
    </div>
</div>
{% for log_time in log_times %}
    <div class="card mt-2">
        <div class="card-header fst-italic">
            {{log_time.created_date|timesince}} ago
        </div>
        <div class="card-body">
        <h6 class=" ">{{log_time.person.name}} logged:</h6>
        <p class="card-text">{{log_time.comments}}</p>
        <span class="badge bg-primary">{{log_time.activity.activity}}</span><span class="m-1 badge bg-primary" >{{log_time.spent_time}}h</span>
        </div>
    </div>
{%endfor%}

{% endblock content %}